* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*       -----       */
/*  CSS Variables    */
/*      -------      */
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --basicWhite: hsl(0, 0%, 100%);
    --fontSize: 0.925rem;
    --font-fraunces: 'Fraunces', serif;
    --font-Montserrat: 'Montserrat', sans-serif;
}

body {
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/*      ---        */
/* Main Container  */
/*      ---        */
main {
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--basicWhite);
    border-radius: 1rem;
}

/*      ---           */
/* Hero Box 1 Image   */
/*      ---           */
.hero1 {
    flex: 1;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 0 0 1rem;
}

.hero1 img {
    width: 100%;
    border-radius: 1rem 0 0 1rem;

}

/*          ---             */
/* Hero Box 2 Text Content */
/*          ---             */
.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 2rem;
    font-family: var(--font-Montserrat);
    color: var(--Dark-grayish-blue);
    border-radius: 0 2rem 2rem 0;
}

.productType {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    letter-spacing: .2rem;

}

.productName {
    font-family: var(--font-fraunces);
    color: var(--Very-dark-blue);
    font-weight: 700;
    line-height: 2rem;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    max-width: 10ch;
}

.productDescription {
    font-size: var(--fontSize);
    margin-bottom: 1rem;
    line-height: 1.5em;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.orgPrice {
    text-decoration: line-through;
}

.salePrice {
    font-family: var(--font-fraunces);
    color: var(--dark-cyan);
    font-weight: 700;
    padding-right: 1rem;
    font-size: 1.75rem;
}

/* Add to Cart Button */

#cartButton {
    text-decoration: none;
    padding: 1rem 4rem;
    background-color: var(--dark-cyan);
    color: var(--basicWhite);
    border-radius: 0.5rem;
    text-align: center;
    margin-top: -1rem;
}

#cartButton:hover {
    background-color: rgb(5, 60, 5);
}

/* Attribution Footer */
.attribution {
    font-size: 0.688rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile */
@media (max-width:650px) {
    main {
        flex-direction: column;
        width: 400px;
    }

    .hero1 {
        min-height: 300px;
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem 1rem 0 0;
    }

    .productName {
        max-width: 14ch;
    }

    .productDescription {
        max-width: 31ch;
    }
}
